
@media screen and (max-width: 768px){
  .clockk{
    font-size: 10px;
    span{
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 568px){
  .clockk{
    font-size: 10px;
    span{
      font-size: 10px;
    }
  }
}